<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <p style="display: inline">
    <% if (theme.customize.social_links) { %>
      <%= __('index.find_me_on') %>
      <p id="socialinfo">
        <% var nb_links = Object.keys(theme.customize.social_links).length %>
        <% var i = 0 %>
        <% for(var link in theme.customize.social_links) { %>
          <a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[link]) %>"><i class="fa fa-<%= link %>"></i></a><%= ( nb_links > 0 && i < nb_links-1 ? ( i == nb_links-2 ? ' '+__('index.enum_and')+' ' : __('index.enum_comma')+' ' ) : '' ) %>
          <% i+=1 %>
        <% } %>
         I <a class="icon nofb" href="http://www.fsf.org/fb"><img src="http://static.fsf.org/nosvn/dislike50.png" title="Not f'd — you won't find me on Facebook" alt="dislike"></a>
<a class="icon" target="_blank" href="https://facebook.com"><i class="fa fa-facebook"></i></a>, you won't find me there
      </p>.
    <% } %>
  </p>
</section>

<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>"><%= __('index.articles') %></a></span>
  <ul class="post-list">
    <% if (theme.customize.show_all_posts) { %>
      <% var show_posts = page.posts.sort('date', 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <% if (theme.customize.show_all_posts) { %>
    <%- partial('_partial/pagination') %>
  <% } %>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>"><%= __('index.projects') %></a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
